<div class="container">
  <br>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input #email id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input #password id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="input-field col m12 s12 center-align">
        <button class="btn waves-effect waves-light" (click)="loginWithEmail(email.value, password.value)">Login
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>     
  <div class="row">
    <hr class="divider-line">
    <div class="divider-or">OR</div>
  </div>
  <div class="row">
    <div class="col s12 m5 hoverable z-depth-1" (click)="loginWithGoogle()">
        <div class="row" style="margin-bottom:0px"> 
            <div class="col s3"><img class="responsive-img login-icon" src="../../assets/images/icons/google.png" alt="google icon"></div>
            <div class="col s9"><p class="auth_provider_text">Use My Google Account</p></div>
        </div>
    </div>
    <div class="col s12 m2"></div>
    <div class="col s12 m5 hoverable z-depth-1" (click)="loginWithFb()">
        <div class="row" style="margin-bottom:0px">
            <div class="col s3"><img class="responsive-img login-icon" src="../../assets/images/icons/facebook.png" alt="facebook icon"></div>
            <div class="col s9"><p class="auth_provider_text">Use My Facebook Account</p></div>
        </div>
    </div>
  </div>
</div>