<div class="row" style="margin-top: 50px">
  <div class="col l3 m2"></div>
  <div class="col s12 l6 m8">
    <div *ngIf="!discountApplied || userData.wallet != 0" class="row" style="background-color: #3f51b5; margin-bottom:0px">
      <div class="col m8"><h5 style="color:#fff">You have &#8377;{{userData.wallet}} in your wallet</h5></div>
      <div class="col m4" style="margin: 0.42rem 0 .656rem 0">
        <button class="btn waves-effect waves-light" (click)="applyDiscount()">Apply Discount</button>
      </div>
    </div>
    <div class="card" margin-top>
      <div class="card-image">
        <img *ngIf="hotelDetails.imageUrl" src="{{hotelDetails.imageUrl}}">
        <img style="max-height:400px" *ngIf="!hotelDetails.imageUrl" src="{{fallbackImageUrl}}">
        <span class="card-title">{{hotelDetails.name}}</span>
      </div>
      <div class="card-content">
        <p>{{hotelDetails.formatted_address}}</p>
      </div>
      <div class="card-action">
        <a>
          <button class="btn waves-effect waves-light" (click)="pay(hotelDetails)">Pay &#8377;{{hotelDetails.cost}}
            <i class="material-icons right"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="col l3 m2"></div>
</div>