<div class="container">
  <h4 class="main-heading">Find the ideal hotel for the best price</h4>
  <div class="row">
      <form class="col m12" align="center">
        <div class="row">
          <div class="input-field col m8">
            <input placeholder="E.g Dubai" id="first_name" type="text" class="validate">
          </div>
          <div class="input-field col m4">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
  </div>
  <div class="row"><h5 class="center-align">Some Popular Destinations</h5></div>
</div>  


<div class="row">
  <div class="col m3" *ngFor="let city of mostVisitedCities">
    <div class="card">
      <div class="card-image">
        <img class="z-depth-4" src={{city.imgUrl}}>
        <span class="card-title">{{city.name}}</span>
      </div>
    </div>
  </div>
</div>