<div class="container">
    <div class="row sort-options">
      <div class="input-field col m4 s12">
        <select class="browser-default" (change)="sortBy($event.target.value, true)">
          <option value="cost">Price</option>
          <option value="rating">Rating</option>
        </select>
        <p>
          <input type="checkbox" class="filled-in" id="reverse" checked="checked" (change)="sortBy('', $event.target.checked)"/>
          <label for="reverse">Reversed</label>
        </p>
      </div>
    </div>
    
    <div class="row" *ngFor = "let result of results">
      <div class="col s12 m2"></div>
      <div class="col s12 m8">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{result.imageUrl}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="hotel-title">{{result.name}}</p>
              <p class="hotel-address">{{result.formatted_address}}</p>
              <p class="hotel-rating">Rating: {{result.rating}}</p>
            </div>
            <div class="card-action">
              <a>
                <button class="btn waves-effect waves-light indigo">&#8377;{{result.cost}}</button>
              </a>
              <a>
                <button class="btn waves-effect waves-light">Book Now
                  <i class="material-icons right">send</i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m2"></div>
    </div>
</div>

