<!--<div *ngFor = "let result of results">
  <p>{{result.name}}</p>
  <img src="{{result.imageUrl}}">
</div>-->

 <!--<div class="row" *ngFor = "let result of results">
        <div class="col s12 m4"></div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{result.imageUrl}}">
              <span class="card-title">{{result.name}}</span>
            </div>
            <div class="card-content">
              <p>{{result.formatted_address}}<br>
              {{result.rating}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4"></div>
</div>-->
<div class="container">
    <div class="row" *ngFor = "let result of results">
      <div class="col s12 m2"></div>
      <div class="col s12 m8">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{result.imageUrl}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="hotel-title">{{result.name}}</p>
              <p class="hotel-address">{{result.formatted_address}}</p>
              <p class="hotel-rating">Rating: {{result.rating}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m2"></div>
    </div>
</div>

