/* You can add global styles to this file, and also import other style files */

/* variables */
:root {
    --primary-color: #3f51b5;
    --accent-color: #e91e63;
    --primary-text-color: #212121;
}

.main-heading{
    text-align: center;
    color: var(--primary-text-color);
    padding: 50px 0px;
}

nav {
    background-color: var(--primary-color);
}

.btn {
    background-color: var(--accent-color);
}

input {
    font-size: 20px !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 1px 0 0 var(--primary-color);
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 1px 0 0 var(--primary-color);
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.pointer {
    cursor: pointer;
}
